<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>

<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
</header>
<main>

    <h2>Search event:</h2>
    <label>Text: <input name="text" type="text" min="1" max="10"></label>
    <label>Rating: <input name="rating" type="text" min="1" max="10"></label>
    <input name="search" type="submit" value="Search">

    <h2>Choose an event:</h2>
    <form th:action="@{/eventBooking/confirmation}" th:method="post">
        <div th:each="event : ${events}">
            <input name="eventId" type="radio"
                   th:value="${event.id}">
            <label>
                Name: <span th:text="${event.name}"></span><br/>
                Description: <span th:text="${event.description}"></span><br/>
                Rating: <span th:text="${event.popularityScore}"></span><br/>
                Location: <span th:text="${event.location.name}"></span><br/>
            </label>

            <div sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')">
                <button type="button"><a th:href="@{'/events/delete/{id}' (id=${event.getId()})}">Delete</a></button>
                <button type="submit"><a th:href="@{'/events/edit/{eventId}' (eventId=${event.getId()})}">Edit</a></button>
            </div>

            <button type="submit"><a th:href="@{'/events/detail/{eventId}' (eventId=${event.getId()})}">Details</a></button>

        </div>

        <div>
            <h2>Choose number of tickets:</h2>
            <label>Number of tickets: <input type="number" name="numTickets" min="1" max="10"></label><br/>
            <label>Name: <input name="name" type="text"></label>
            <br/><br/>
            <input type="submit" value="Submit">
        </div>
    </form>
    <a href="/events/add-event" sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')">Add Event</a>

</main>
</body>
<!--</div>-->
</html>